<h1>video games</h1>

<ul>
  <% @video_games.each do |game| %>
    <li>
      <%= link_to game.title, platform_video_game_path(@platform, game) %> - 
      <%= link_to 'delete', platform_video_game_path(@platform, game), method: :delete %>
    </li>
  <% end %>
</ul>

<%= link_to 'all platforms', root_path %>